<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!-- GROUP 1: General settings -->
  <category label="00000">
    <!-- Placeholder -->
    <setting label="00001" type="fileenum" option="hideext" mask="*.feu" values="presets" id="feu.preset" default="&lt;default&gt;"/>
  </category>
</settings>
